@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.App{
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
}

.Heading{
  text-transform: uppercase;
  font-size: 4opx;
  margin: 30px 0;
  color: #fff;
  z-index: 1;
  text-align: centerß;
}

@media screen and (max-width: 800px) {
  .Heading{
    margin: 15px0;
    font-size: 30px;
  }
}